<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card" style="width: 18rem;">
      <div class="card-header">Tasks</div>
      <!-- ** -->
      <app-tasks-add></app-tasks-add>
      <app-tasks-list></app-tasks-list>
      <!-- ** -->
    </div>
  </div>
</div>

<div class="mt-5">
  <h3 class="text-center mb-5">Today</h3>

  <div class="row mt-5">
    <div class="col-sm-3">
      <div class="panel panel-default" >
        <div class="panel-heading">Today</div>
        <ul class="list-group">
          <li draggable *ngFor="let item of items" [dragData]="item" class="list-group-item">{{item.name}}</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-default" droppable (onDrop)="onItemDroppedToInProgress($event)">
        <div class="panel-heading">In Progress</div>
        <div class="panel-body">
          <li draggable *ngFor="let item of itemsInProgress" [dragData]="item" class="list-group-item"  draggable= "true"
            >{{item.name}}</li>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
        <div class="panel panel-default" droppable (onDrop)="onItemDroppedToDone($event)">
          <div class="panel-heading">Done</div>
          <div class="panel-body">
            <li draggable *ngFor="let item of itemsDone" [dragData]="item"  class="list-group-item">{{item.name}}</li>
          </div>
        </div>
      </div>
  </div>
</div>