<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card" style="width: 18rem;">
      <div class="card-header">Tasks</div>
      <!-- ** -->
      <app-tasks-add></app-tasks-add>
      <app-tasks-list></app-tasks-list>
      <!-- ** -->
    </div>
  </div>
</div>


<!-- DRAG AND DROP -->
<div class="container">
  <div class="mt-5">
  <h3 class="text-center mb-5">Today</h3>
  
  <div class="row mt-5">
    <div class="col-sm-3">
      <div class="panel panel-default" >
        <div class="panel-heading">Today</div>
        <ul class="list-group">
          <li draggable class="list-group-task badge badge-primary my-1 d-block" *ngFor="let task of tasksForToday" [dragData]="task" >{{task.name}}</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" droppable (onDrop)="onTaskDroppedToInProgress($event)">
        <div class="card-body">
          <div class="card-title">In Progress</div>
          <div class="card-text">
            <li draggable class="list-group-task badge badge-danger my-1 d-block" *ngFor="let task of tasksInProgress" [dragData]="task" draggable= "true"
            >{{task.name}}</li>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
        <div class="card" droppable (onDrop)="onTaskDroppedToDone($event)">
            <div class="card-body">
          <div class="card-title">Done</div>
          <div class="card-text">
            <li draggable class="list-group-task badge badge-success my-1 d-block" *ngFor="let task of tasksDone" [dragData]="task" >{{task.name}}</li>
          </div>
        </div>
      </div>
  </div>
</div>
<!--// DRAG AND DROP -->