<div class="col-md-6">
  <h2>All Users</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Action</th>
          <th>  </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td class="hidden">{{user.id}}</td>
          <td>{{user.firstName}}</td>

          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>
            <i class="btn fa fa-trash-o text-danger del_btn" aria-hidden="true" (click)="deleteUser(user)">
            </i>
          </td>
          <td>
            <i class="btn fa fa-pencil text-primary del_btn" aria-hidden="true" (click)="editUser(user)">
            </i>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- ** -->
    <app-tasks></app-tasks>
    <!-- ** -->
</div>


