<ul class="list-group">
  <li *ngFor="let task of tasks" class="list-group-item">
    <div class="task-checkbox">
      <input type="checkbox" class="list-child" (change)="onTaskChange($event, task)" [checked]="task.completed">
      <span ngClass="{{task.completed ? 'name completed' : 'name' }}">{{ task.name }}</span>
      <span ngClass="badge {{ getDueDateLabel(task) }} pull-right">{{ task.dueDate }}</span>
    </div>
  </li>
</ul>

<!-- <h2>Dragula</h2>
<div>
  <div class='wrapper'>
    <div class='container' [dragula]='"bag-task1"' [dragulaOptions]="options">
      <div>task 1: create a new angular project using npm</div>
      <div>task 2: move into your project folder</div>
      <div>task 3: install ng2-dragula component in your angular project</div>
    </div>
    <div class='container' [dragula]='"bag-task2"' [dragulaOptions]="options">
      <div>task 4: import the module in the app module and add it to the NgModule imports</div>
      <div>task 5: in the app component import the Dragula service, inject it into the constructor and set dragula options</div>
      <div>task 6: in the app template, add the html code with the property dragula and use the customized css classes</div>
    </div>
  </div>
</div> -->

